.movie-container {
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 20px);
  margin-bottom: 20px;
  justify-content: center;

  .movie-container__wrap {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 345px;
    border-radius: 4px;

    .movie-thumbnail {
      height: 345px;
      width: 230px;
      position: relative;

      .star-icon--mobile {
        display: none;
        position: absolute;
        right: 20px;
        bottom: 20px;
        width: 55px;
      }

      .actionfavorites-icon {
        position: absolute;
        top: 0;
        left: 0;
        border: none;
        cursor: pointer;
        background: transparent;
      }

      .movie-thumbnail__img {
        height: 345px;
        width: 230px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }

    .movie-desc-wrap {
      width: 100%;
      color: #121212;
      padding: 15px;

      .movie-desc-wrap__header {
        .header__top {
          padding: 20px 0px;

          .header__title-with-rating-wrap {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .header__title {
              width: 305px;
              font-size: 35px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .header__rating {
              .rating-number {
                font-size: 32px;
                line-height: 35px;
                padding-right: 5px;
                color: gray;
              }

              .rating-icon {
                width: 30px;
              }
            }
          }

          .header__calendar-genres {
            display: flex;
            justify-content: space-between;
            padding: 10px 0px;

            .yearWrap {
              .calendar-icon {
                width: 18px;
              }

              .releaseYear {
                font-size: 20px;
                margin-left: 6px;
              }
            }

            .genresWrap {
              .genres {
                width: 250px;
                font-size: 35px;
                display: block;
                text-align: right;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 20px;
                color: #acacac;
                font-style: italic;
              }
            }
          }
        }

      }

      .movie-desc-wrap__body {
        border-bottom: 1px solid lightgray;
        .body__desc {
          font-size: 20px;
          overflow: hidden;
          text-transform: ellipsis;
          line-height: 1.6;
        }
      }

      .movie-desc-wrap__footer {
        display: flex;
        justify-content: space-between;
        padding: 2px 0px;
        .footer__star-icon {
          display: block;
          width: 58px;
        }

        .footer__star-icon.fake {
          height: 58px;
        }

        .footer__button {
          font-size: 20px;
          background: transparent;
          border: none;
          text-transform: uppercase;
          color: #419488;;
          outline: none;
          cursor: pointer;
        }
      }
    }
  }
}

/**
  Responsive
*/
@media (max-width: 1469px) {
  .movie-desc-wrap {
    display: none;
  }

  .movie-container__wrap {
    height: calc(100% - 4px) !important;
  }

  .movie-thumbnail {
    width: 100% !important;
    height: auto !important;

    .star-icon--mobile {
      display: block !important;
    }

    .movie-thumbnail__img {
      width: 100% !important;
      height: auto !important;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

  }
}