.movie-container {
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 20px);
  margin-bottom: 20px;
  justify-content: center;

  .movie-container__wrap {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 375px;
    border-radius: 4px;
    .movie-thumbnail {
    height: 375px;
    width: 270px;
  
      .movie-thumbnail__img {
        height: 375px;
        width: 270px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }

    .movie-desc-wrap {
      width: 100%;
      color: #121212;
    }
  }
 


}