body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #303030;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.main {
  padding: 30px 80px;
  margin: 0 auto;
  display: block;
}

button {
  outline: none;
}

.movies-container__movies-list {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;

}

@media (max-width: 1469px) {
  .main {
    padding: 20px !important;

  }
}