body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #303030;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.main {
  padding: 30px 80px;
  margin: 0 auto;
  display: block;
}

button {
  outline: none;
}

@media (max-width: 1469px) {
  .main {
    padding: 20px !important;

  }
}