body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #303030;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.main {
  padding: 30px 20px;
  margin: 0 auto;
  display: block;
  max-width: 1500px;
}