.app-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #212121;
  align-items: center;
  .app-header__back-button-wrap {

    .back-button {
      
    }

  }

  .app-header__title {
    font-size: 20px;
  }

  .app-header__favorites-button {

    .favorites-button__icon {
      width: 22.5px;
    }
  }




}