.empty-movie-list {
  display: flex;
  flex: 1;
  height: 100vh;
  justify-content: center;
  align-items: center;
  .empty-movie-list__text {
    font-size: 30px;
    width: 275px;
    text-align: center;
    line-height: 1.2;
  }
}