.movies-container {

  .server-error-message {
    color: gray;
  }

  .movies-container__movies-list {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

  }

  .movies-container__movies-list *:nth-child(odd) {
    padding-right: 20px;
  }
}